.program
  h2 Как все будет проходить
  ul
    li
      h4 Простое запоминание
      p Слова запоминаются в результате упрощенных техник и применения в спонтанных ситуациях, а не посредством зубрежки
    li
      h4 Импровизация и диалоги
      p Форма импровизации позволяет подготовиться к ситуации, когда шаблонные ответы будут неприменимы
    li
      h4 Говорим и слушаем
      p Прослушивание себя и профессионалов позволит научиться воспринимать чужую речь на слух
    li
      h4 Повторение
      p Каждое следующее занятие включает в себя закрепление предыдущих тем и создает базу для прохождения следующих
