.header {
  @include container;
  padding: 28px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;

  a {
    font-family: "Museo Sans Cyrl 900";
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    letter-spacing: 0.05em;
    color: #e4002b;
    text-decoration: none;

    span {
      color: #000;
    }
  }
}

@mixin info-text {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.05em;
  text-align: left;
  color: #141414;
}

.address {
  margin-right: 32px;
  @include info-text;
  font-style: normal;
}

.phone-number {
  margin-right: 42px;
  @include info-text;
}

.btn {
  padding: 0;
  position: relative;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.05em;
  text-align: left;
  color: #f5112c;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: #fa8895;
  }
}
