.pricing
  h2 что входит в стоимость <span class="styled">?</span>
  span.price 21 000 рублей
  p Вы пройдете 2-месячную программу по 2 занятия в неделю, в конце каждой из которых сможете самостоятельно построить диалог
  ul
    li
      h4 1 неделя - аэропорт
      p Вылет-прилет, регистрация, специальный и пограничный, потеря багажа, задержка рейса
    li
      h4 2 неделя - дорога, трансфер
      p Поиск транспорта, пункты назначения, общение с водителем (уточнения, просьбы, остановки)
    li
      h4 3 неделя - гостиница, ночлег
      p Поиск ночлега, бронирование, уточнение условий проживания, решение проблем с персоналом
    li
      h4 4 неделя - культурный отдых
      p Покупка билетов, туров, уточнение обстоятельств, потеря напарника, сопровождающего.
    li
      h4 5 неделя - местность, поиск
      p Выяснение дороги, направления,  местонахождения (собственного и необходимых мест)
    li
      h4 6 неделя - магазины
      p Выбор, общение с продавцами, выяснение цены, торг, покупка, возврат, случаи мошеничества
    li 
      h4 7 неделя - общение с местными
      p Непринужденные беседы, вопросы, просьбы о помощи, совместный обед, времяпрепровождения
    li
      h4 8 неделя - неожиданные ситуации
      p Разбор непредвиденных случаев (потеря документов, обращение в полицию, скорую)
