footer
  .footer-logo
    .a .yes
  .social
    a(href="#") vk
    a(href="#") instagramm
    a(href="#") youtube
    a(href="#") ok
  span Школа  Английского Языка
  address г. Москва ул. Северная, 35
  a(href="tel:+7945465467") +7 (945) 46-54-67
  button Заказать звонок
  
