.reviews
  h2 Отзывы студентов
  .review-card
    img(src="" alt="Изображение человека")
    h4 Александра Иванова
    p Курс прошел незаметно и оставил после себя только хорошие воспоминания. Нашу группу на постоянной основе вела Алла, Настя и Женя приходили к нам для нарабатывания практики общения. Неделю назад были с мужем в Лондоне - хоть люди разные и речь у всех разная, но было так легко и спокойно! Мы ни разу не заблудились, в аэропорту меня водила за собой пожилая пара в качестве переводчика. Спасибо вам, это было очень полезно!
    a(href="#").review-card--contact Вконтакте
  .reviews--control
      slider
