.teachers
  h2 Кто ведет курс
  div.teachers__list
    section.teacher
      img(src="img/alla.jpg")
      h4 Алла Ристовская
      p Занимается преподаванием английского языка с 2007 года. За 7 лет практики Алла занималась более чем с 80 студентами.
      p Очень любит путешествовать: неоднократно бывала зарубежом, проходила практику в США (Нью-Йорк) и Великобритании (Лондон).
    section.teacher
      img(src="img/anastasia.jpg")
      h4 Анастасия Левчук
      p Закончила Алтайскую Государственную педагогическую Академию по специальности "теория и методика преподавания иностранных языков и культур".
      p Также имеется дополнительная квалификация "переводчик в сфере профессиональной коммуникации".
    section.teacher
      img(src="img/eugene.jpg")
      h4 Евгений Пак
      p Сетифицированный спеуиалист (диплом ОмГПУ, TTC в Кембридже, TESOL в Лондоне). Имеет богатый опыт работы на английском языке: от обучения в языковых школах до выполнения функции переводчика на различных конференциях.
      p Более года Евгений жил в г. Сиэтл (США).
