.features
  .features-wrapper
    h2 Бывали ли вы<br> в подобных<br> ситауциях <span class="styled">?</span>
    ol.trouble
      li
        p Вы думали, что знаете<br> английский, но в гостинице<br> с трудом выговариваете,<br> какой номер вам нужен
        div.trouble__img-wrap
          img(src="img/airport.jpg" alt="Зал пребывания аэропорта")  
      li
        div.trouble__img-wrap
          img(src="img/compass.jpg" alt="Компас")
        p Вы смогли спросить,<br> до какой станции метро нужно дойти,<br> но не поняли, куда вас отправили
      li
        p В аэропорту при любом подозрении<br> на задрежку, вы ищите представителя,<br> хоть как-то говоряшего по-русски
        div.trouble__img-wrap
          img(src="img/lost.jpg" alt="Потерявшийся пассажир")
      li
        div.trouble__img-wrap
          span.last-counter в итоге...
          img(src="img/feet.jpg" alt="Ступни")
        p Все это портит впечатление<br> от отдыха и отбивает желание<br> посещать новые страны
    div.advantages
      h2 Мы предусмотрели<br> эти ситуации
      ul
        li 
          h4 Значение
          p Разбираем те ситуации,<br> с которыми сталкивается<br> путешественник
        li 
          h4 Понимание
          p Учим объясняться сами<br> и понимать, что говорят<br> другие
        li
          h4 Практика
          p Проводим диалоги<br> с преподавателями<br> и носителями языка
