.features
  h2 Бывали ли вы в подобных ситауциях <span class="styled">?</span>
  ol
    li.trouble
      img(src="" alt="Зал пребывания аэропорта")
      p Вы думали, что знаете английский, но в гостинице с трудом выговариваете, какой номер вам нужен
    li.trouble
      img(src="" alt="Компас")
      p Вы смогли спросить, до какой станции метро нужно дойти, но не поняли, куда вас отправили
    li.trouble
      img(src="" alt="Потерявшийся пассажир")
      p В аэропорту при любом подозрении на задрежку, вы ищите представителя, хоть как-то говоряшего по-русски
    li.trouble
      img(src="" alt="Ноги")
      p Все это портит впечатление от отдыха и отбивает желание посещать новые страны
  div.advantages
    h2 Мы предусмотрели эти ситуации
    ul
      li 
        h4 Значение
        p Разбираем те ситуации, с которыми сталкивается путешественник
      li 
        h4 Понимание
        p Учим объясняться сами и понимать, что говорят другие
      li
        h4 Практика
        p Проводим диалоги с преподавателями и носителями языка
