.features {
  padding-top: 162px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    @include container;
  }

  h2 {
    position: relative;
    margin: 0;
    font-family: "Gilroy";
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--black);
    text-transform: uppercase;

    .styled {
      position: absolute;
      top: -104px;
      left: 265px;
      font-family: "Gilroy";
      font-size: 300px;
      font-weight: 800;
      letter-spacing: 0.05em;
      color: rgba(0, 0, 0, 0.09);
    }
  }
}
