.banner
  .banner-container
    .promo
      span.promo-header Ускоренный
      h2.promo-header 2-месячный курс английского языка
      p.promo-text Освойте английский для путешествий<br> и научитесь объясняться в любой ситуации
      button.promo-btn Записаться на пробное занятие
