doctype html
html
  include head/head.pug
body
  include header/header.pug
  include banner/banner.pug
  include features/features.pug
  include teachers/teachers.pug
  include course/course.pug
  include program/program.pug
  include reviews/reviews.pug
  include signup/signup.pug
  include footer/footer.pug
